# Python
back-end/venv/
back-end/__pycache__/
back-end/Classes/__pycache__/
back-end/Routers/__pycache__/
back-end/Tests/__pycache__/
*.pyc

# Node
front-end/node_modules/
front-end/.next/
front-end/out/

# Env
*.env

# System
.DS_Store
Thumbs.db
