@import "tailwindcss";

.container {
  display: grid;
  column-gap: 50px;
  /* grid-template-columns: 600px ; */
  grid-template-columns: auto auto;
  margin: 40px;
}

.add-api-card {
  height: 750px;
  width: 500px;
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1.2em sans-serif;

  display: flex;
  justify-content: center;
}

.show-api-card {
  height: 750px;
  width: 1100px;
  border: 2px solid rgb(75 70 74);
  border-radius: 0.5em;
  font: 1.2em sans-serif;
}
